@model Vidly2.Models.Film
@{
    ViewBag.Title = "Ayrintilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Ad</h2>
<ul>
    <li>Tür: @Model.Tur.Ad</li>
    <li>Vizyon Tarihi: @Model.VizyonTarihi.ToLongDateString()</li>
    <li>Eklenme Tarihi: @Model.EklenmeTarihi.ToLongDateString()</li>
    <li>Stoktaki Sayı: @Model.StoktakiSayi</li>
</ul>


